.App {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin-top: 40px;
}

.App > div {
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 0 30px 30px;
}

h3,
input {
    padding-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

li > span {
    margin-right: auto;
    display: inline-block;
}

/* Input Styles */
input {
    margin: 5px 0;
    padding: 2px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input:focus {
    outline: none;
    background-color: #00ffea;
}

input:active {
    outline: none;
}

/* Add Button */
.buttonAdd {
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
}

/* Delete Button */
.buttonDelete {
    background-color: #fff;
    border: none;
    border-radius: 2px;
    font-size: 7px;
    font-weight: bold;
    width: 12px;
    height: 12px;
    margin: 2px;
    cursor: pointer;
    transition: color 200ms;
    text-align: center;
    box-sizing: border-box;
}

.buttonDelete:hover {
    color: red;
}

/* Filter Buttons */
.areaFilter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-top: 15px;
}

.buttonFilter {
    padding: 2px 5px;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    margin: 2px;
    cursor: pointer;
}
